<div class="contacts-list-wrapper">
    <contacts-list-contact *ngFor="let contact of (contacts | async).searchResultContacts" [contact]="contact"
        class="contact">
    </contacts-list-contact>

    <p class="not-found" *ngIf="!(contacts | async).searchResultContacts.length && !(isLoading | async)">
        Not found contacts.
    </p>

    <ng-container *skeleton="(isLoading | async); 
                                 repeat: isMobile ? 8 : 4; 
                                 className: 'mb-2'; 
                                 height: isMobile ? '350px' :'350px';
                                width: isMobile ? '47%' :'23%';
                                 ">
    </ng-container>
</div>