<div class="top-nav-wrapper">
    <p class="title">Contact List</p>
    <form [formGroup]="form">
        <input formControlName="search" type="text" class="search" placeholder="Search...">
        <div *ngIf="form.controls['search'].invalid && (form.controls['search'].dirty || form.controls['search'].touched)"
            class="alert">
            <div *ngIf="form.controls['search'].errors['minlength']">
                A minimum of 2 characters is required.
            </div>
        </div>
    </form>
</div>